@media only screen and (min-width: 768px) {
	.add__product_text--desktop {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #2a7ae4;
		border: 1px solid #2a7ae4;
		padding: 15px;
		width: 45%;
		cursor: pointer;
	}

	.o__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}
}
