html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: 0.2s linear;
}

body {
	font-family: "Raleway", sans-serif;
}
