.footer__icons {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	gap: 10px;
	font-size: 2rem;
}

.footer__icons a {
		color: #464646;
}

.footer__icons a:visited {
	color: #464646;
}

.footer__icons a:hover {
color: 	#2a7ae4;
transform: scale(1.2);
}
