.about__text {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 90%;
	margin: 25px auto;
}

/* responsive */
@media only screen and (min-width: 768px) {
.about__text {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 90%;
	margin: 25px auto;
}
}
